<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojo Survey</title>
    <style>
        .container{
            margin: auto;
            width: 60%;
            padding-top: 30px;
        }
    </style>
  </head>
  <body>
    <div class="container">
    <form action="/result" method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Your Name : </label>
        <div class="col-8">
          <input type="text" class="form-control"  name="name"/>
        </div>
      </div>
      <div class="form-group row">
      <p class="col-sm-3 col-form-label">Dojo Locations:</p>
      <div class="col-8">
      <select name="location" class="form-control">
        <option value="San Jose">San Jose</option>
        <option value="Washington DC">Washington DC</option>
        <option value="Seattle WA">Seattle WA</option>
        <option value="Remote">Remote</option>
      </select>
    </div>
    </div>
    <div class="form-group row">
      <p class="col-sm-3 col-form-label">Favorite Language:</p>
      <div class="col-8">
      <select name="language" class="form-control">
        <option value="Python">Python</option>
        <option value="Javascript">Javascript</option>
        <option value="R">R</option>
      </select>
    </div>
      </div>
      <div class="form-group row">
      <p class="col-sm-3 col-form-label">Comment (optional):</p>
      <div class="col-8">
      <textarea name="comment" class="form-control"></textarea>
      </div>
    </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="submit" class="btn btn-secondary">Button</button>
        </div>
      
    </form>
</div>
  </body>
</html>

